.navEffect {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.navEffect:after {
  display: block;
  content: "";
  border-bottom: solid 2px #ee4037;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navEffect:hover:after {
  transform: scaleX(1);
}

.navEffect.from-left:after {
  transform-origin: left;
}

.navEffect.from-right:after {
  transform-origin: right;
}
